* {

    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {min-height:100%; height:100%; overflow-x:hidden; display:block;}

body {
    background-color: #333;
}

#logo {
    padding-left: 25px;
}

.navbar {
    background-color: #56E893;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    width: 100%;
    margin: 0 5rem;
    padding: 0 50px;
    z-index: 1;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item {
    height: 80px;
}

.navbar-link {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Quicksand SemiBold 600", sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.navbar-link:hover {
    color: #555;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-device-width: 1000px) {

    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        margin: 0;
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar-menu.active {
        background: #56E893;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 42;
        height: 50vh;
        font-size: 16.rem;
    }

    #logo {
        opacity: 0;
    }

    .navbar-toggle .bar {
        width: 30px;
        height: 4px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        color: #fff;
        background: #fff;
        border-radius: 10px;
    }

    .navbar-item {
        width: 100%;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        padding-right: 15px;
        transform: translate(5%, 20%);
    }

    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;

    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
       transform: translateY(9px) rotate(45deg); 
    }

    #mobile-menu.is-active .bar:nth-child(3) {
       transform: translateY(-9px) rotate(-45deg); 
    }
}
    
@media screen and (min-device-width: 760px)
and (max-device-width: 1020px) {
    .navbar-toggle .bar {
        width: 60px;
        height: 6px;
    }

    body {
        overflow: scroll;
    }

    .navbar {
        height: 110px;
    }

    .bar:nth-child(1) {
        margin-bottom: 10px;
    }

    .bar:nth-child(2) {
        margin-bottom: 10px;
    }

   #mobile-menu.is-active .bar:nth-child(1) {
       transform: translateY(15px) rotate(45deg); 
    }

    #mobile-menu.is-active .bar:nth-child(3) {
       transform: translateY(-15px) rotate(-45deg); 
    }

    p {
        font-size: 2rem;
    }

}

.stats-view {
    margin: 3rem auto;
    margin-top: 0;
    width: 70%;
    height: 20rem;
    background-color: #56E893;
    text-align: center;
}

.autocomplete {
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: #33DA79;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    background-color: #33DA79 !important;
    color: #ffffff;
  }

  #set {
    text-align: left;
    color: #333;
    font-size: 1rem;
    margin-left: .3rem;
    margin-top: .2rem;
}

#stats {
    text-align: left;
    color: #333;
    font-size: 1rem;
    margin-left: .3rem;
    margin-top: .2rem;
}

#level { 
    text-align: left;
    color: #333;
    font-size: 1rem;
    margin-left: .3rem;
    margin-top: .2rem;
}

.generate {
    text-align: center;
    margin-top: 1rem;
}

#generate-button {
    text-align: center;
    margin-top: 0;
    border-radius: 2px;
    height: 50px;
    background-color: #56E893;
    color: #fff;
    font-size: 1.2rem;
    font-family: "Quicksand SemiBold 600", sans-serif;
    color: #333;
    padding: 0 1rem;
    border: none;
}

.tab {
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #56E893;
    background-color: #56E893;
    width: 70%;
  }
 
  input[type=button] {
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  button {
    border: none;
    outline: none;
    cursor: pointer;
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
 
  .tab button:hover {
    background-color: #61FEA3;
  }
  
  .tab button.active {
    background-color: #33DA79;
  }
  
  .tabcontent {
    display: none;
    border-top: none;
  }

  .content {
    margin-top: 2rem;
  }

  #piece {
    display: flex;
  }

  .dropdown {
    margin-top: 1rem;
  }